.DS_Store
node_modules/
dist/
safari/DerivedData/
safari/DerivedData-Release/
safari/**/xcuserdata/
*.xcuserstate
safari/build/
*.tar.gz
happy-labs/.build/
happy-labs/**/xcuserdata/
happy-labs/**/*.xcuserstate
happy-labs/**/DerivedData/
happy-labs/**/.build/
happy-labs/[Gmail]/
